.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 12px;
  gap: 12px;
}

.search-container > div {
  display: flex;
  gap: 20px;
}

.search-container button {
  height: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination > span {
  padding: 8px;
  border: 2px solid grey;
  border-radius: 50%;
  width: 18px;
  display: flex;
  justify-content: center;
}

.pagination > button {
  padding: 6px;
  margin: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header > h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main > div {
  display: flex;
  gap: 20px;
}
